.mainContainer {
    height: 100%;
    width: 100%;
    /* border: 1px solid black; */
    padding: 8px;
}

.container {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    /* justify-content: space-around; */
    height: 100%;
    width: 100%;
    border: 1px solid black;
    padding: 5px;
}

    .imageContainer {
        display: flex;
        height: 100px;
        width: 200px;
    }

        .projectImage {
            width: 100%;
            height: 100%;
        }

    .textContainer {
        width: 100%;
        height: 100%;
    }
    
        .titleContainer {
            text-align: left;
        }
            .title{
                /* text-align: center; */
                color: black;
            }
        
        .descriptionContainer {
            text-align: left;
        }

