.mainContainer {
    height: 500px;
    width: 100%;
    padding: 8px;
    background-image: url(https://res.cloudinary.com/do0gmouxr/image/upload/v1680739249/Pagina%20Interna/background12_pdgwkw.jpg);
    background-size: cover;
    background-position: center bottom;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    /* justify-content: space-around; */
    height: 7rem;
    width: 60rem;
    border: 1px solid black;
    padding: 5px;
    background-color: black;
    color: white;
}

    .imageContainer {
        display: flex;
        height: 100px;
        width: 200px;
    }

        .projectImage {
            width: 100%;
            height: 100%;
        }

    .textContainer {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }
    
        .titleContainer {
            text-align: left;
        }
        
        .descriptionContainer {
            text-align: left;
        }
    
    .optionsContainer {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

        .deleteProject {
            width: 100%;
            background-color: red;
            color: white;
            border: none;
            border-radius: 2px;
            font-size: 15px;
            padding: 2px;
        }

            .deleteProject:hover {
                cursor: pointer;
                background-color: darkred;
            }

        .editProject {
            width: 100%;
            background-color: lightgray;
            border: none;
            border-radius: 2px;
            padding: 3px;
        }

            .editProject:hover {
                cursor: pointer;
                background-color: darkgray;
            }