.contact-container {
  height: 100vh;
  border-top: solid black 1px;
  }

.container-formulario-info{
  display: flex;
  flex-direction: row;
  margin: 8vh 30vh 0 30vh;
  justify-content: space-evenly;
  }

