.contact-container {
  height: 100vh;
  border-top: solid black 1px;
  }

.container-formulario-info{
  display: flex;
  flex-direction: row;
  margin: 8vh 30vh 0 30vh;
  justify-content: space-evenly;
  }

.container-formulario{
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-right: 10rem;
  }

.formik-div{
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
}

.formik-div > Form > label {
font-weight: 500;
color: #383838;
text-align: left;
margin-bottom: 0.8vh;
}

.form-form{
  display: flex;
  flex-direction: column;
}



.container-info{
  display: flex;
  flex-direction: column;
  width: 30%;
  /* padding-left: 20vh; */
}

.info-span-1{
  color: #212121;
  font-weight: 700;
  text-transform: none;
  text-align: initial;
}

.info-span-2{
  color: #212121;
  font-weight: 400;
  line-height: 28px;
  text-transform: none;
  text-align: initial;
}

.separator {
	border-bottom: 1px dashed #616161;
	margin-top: 10px;
	margin-bottom: 10px;
  opacity: 0.4;
}

.container-formulario > span {
text-align: left;
font-weight: 400;
color: #616161;

}

.containerinput{
  width: 100%;
  padding: 10px 10px 8px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.containerinputArea{
  width: 100%;
  height: 100px;
  padding: 10px 10px 8px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif
}

.submit-button{
  /* width: 100%; */
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  color: #fff;
  background-color: rgb(53, 212, 93);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.div-redes{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 10px;
}


.a-redes{
  position: relative;
  transition: transform 0.2s ease-in-out;
}

.a-redes:hover{
  transform: translateY(-5px);
}

.imagen-redes{
  height: 36px;
  width: 36px;
  margin-right: 10px;
}
