.new-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 370px;
    height: fit-content;
    padding-bottom: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.103);
}

.new-image-container {
    overflow: hidden;
    position: relative;
}

.new-image {
    width: 100%;
    aspect-ratio: 10/7;
    object-fit: cover;
}

.subtitle {
    word-wrap: break-word;
    color: rgb(95, 94, 94);
}


.ver-mas {
    width: 80%;
    text-align: left;
}

.ver-mas h4 {
    margin-top: 30px;
    color: rgb(24, 24, 24);
    text-decoration: underline rgb(255, 136, 0) 4px;
}

.new-container h2,
h5,
h4 {
    width: 80%;
    text-align: left;
}

.title_date-container {
    width: 80%;
    text-align: left;
    font-weight: 600;
    margin: 14px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.new-hover {
    transition: all 200ms ease-out;
    transform: translateY(0%);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(240, 104, 26, 0.959);
    opacity: 0;
    visibility: hidden;
}

.new-hover-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 80px;
    height: 80px;
}

.new-hover-button p {
    color: gray;
    font-weight: 400;
    font-size: 50px;
}



.new-image-container:hover>.new-hover {
    transform: translateY(-100%);
    opacity: 1;
    visibility: visible;
}