.divPresentacion{
    background-image: url("https://myconstruction.com.ar/colaboradores/img/backgroundDesarrollo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: auto;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: baseline;
}

.divPresentacion h1 {
    color: #ffffff;
    font-size: 50px;
    width: 500px;
    margin: 0 auto;
    /* margin-top: 15rem; */
    text-align: center;
}

.divGeneral{
    /* background-color:rgb(150, 126, 126); */
    background-color: black;
    height: 800px;
}

.divCursos{
    display: flex;
    flex-direction: column;
    margin: 0 15rem 0 15rem;
}

.divTexto{
    display: flex;
    align-items: flex-start;
    margin-top: 5rem;
    /* height: 80px; */
}

.divTexto h3{
    color: #ffffff;
}



.imgSlide{
    width: 260px;
    height: 260px;
    position: relative;
}

.swiper_name_inicial {
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    color: transparent;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    transition: color 0.3s ease;
  }


  .swiper_container:hover .swiper_name_inicial{
    color: #ffffff;
  }